* {
  font-family: "Nunito";
}
.room {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
  width: 100%;
}
.users {
  display: flex;
  float: left;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  float: right;
  width: 70%;
  height: 100%;
  text-align: center;
}
#usertitle {
  height: 8%;
  background-color: #292b2c;
  font-size: 1cm;
  text-align: center;
  line-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

#userlist {
  background-color: white;
  height: 87%;
  overflow-y: scroll;
}
#contenttitles {
  height: 8%;
  display: flex;
  flex-direction: row;
  background-color: #292b2c;
  font-size: 1cm;
  text-align: center;
  line-height: 100%;
  color: #ddd;
}
#contenttitle {
  height: 100%;
  font-size: 1cm;
  float: center;
  text-align: center;
  line-height: 100%;
  color: #ddd;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contentright {
  flex-direction: row;
  height: 100%;
  font-size: 0.5cm;
  float: right;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  width: 15%;
}

#contentleft {
  height: 100%;
  font-size: 1cm;
  float: left;
  text-align: center;
  line-height: 100%;
  width: 15%;
}
#membersbtn {
  width: 40%;
  height: 70%;
  overflow: hidden;
}
#deletebtn {
  width: 40%;
  height: 70%;
  overflow: hidden;
}
#content_list {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 87%;
  overflow-y: scroll;
}
#typing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  height: 5%;
}
#text {
  width: 80%;
  height: 90%;
  float: left;
}
#send {
  width: 20%;
  float: right;
}
#buttom_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  flex-direction: row;
  background-color: white;
}
#addchatroom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  background-color: #292b2c;
  overflow: hidden;
  color: #ddd;
}
#addfriend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  background-color: #292b2c;
  overflow: hidden;
  color: #ddd;
}
#send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  background-color: #292b2c;
  overflow: hidden;
  color: #ddd;
}
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}
#my_text {
  width: 30%;
  height: max-content;
  float: right;
  text-align: right;
  align-self: flex-end;
  background-color: skyblue;
  word-break: break-all;

  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
#your_text {
  width: 30%;
  height: max-content;
  float: left;
  word-break: break-all;
  text-align: left;
  align-self: flex-start;

  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
#system_text {
  width: 25%;
  height: max-content;
  float: center;
  text-align: center;
  background-color: burlywood;
  word-break: break-all;

  align-self: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
#notification {
  width: 30%;
  height: 200px;
  float: center;
  word-break: break-all;
  text-align: left;
  align-self: flex-start;
  background-color: burlywood;
  margin-left: 10px;
}
#memberinroom {
  float: left;
  word-break: break-all;
  text-align: left;

  margin-left: 10px;
}
